## 조건문 : if
* https://docs.python.org/ko/3/tutorial/controlflow.html#if-statements

In [1]:
# 입력값 양수 음수 판단
x = int(input("Please enter an integer: "))

# 입력값이 0보다 크다면, 양수라면 "양수" 출력
if x > 0:
    print("양수")
# 입력값이 0과 같다면, "0" 출력
elif x == 0:
    print("영")
# 위 두 조건에 해당하지 않는다면, 음수라면 "음수" 출력
else:
    print("음수")

Please enter an integer: 1423

1423

## 반복문 : for문
* https://docs.python.org/ko/3/tutorial/controlflow.html#for-statements

### range() 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#the-range-function

In [4]:
# f-string 를 이용한 URL 페이지 생성
# 여러 page에서 데이터를 수집할 때 사용

# 한 page에 모든 정보가 있고, 무한 스크롤을 이용해 구현된 웹이라면 while 문을 이용해 data 수집
# data가 일정량 이상 수집되면 break

# 예) https://naver.com/?page=1
for page_num in range(1, 6):
    print(f"http://naver.com/?page={page_num}")

http://naver.com/?page=1
http://naver.com/?page=2
http://naver.com/?page=3
http://naver.com/?page=4
http://naver.com/?page=5

In [7]:
# page 역순으로 URL 접근
for page_num in range(10, 0, -1):
    print(f"http://naver.com/?page={page_num}")

http://naver.com/?page=10
http://naver.com/?page=9
http://naver.com/?page=8
http://naver.com/?page=7
http://naver.com/?page=6
http://naver.com/?page=5
http://naver.com/?page=4
http://naver.com/?page=3
http://naver.com/?page=2
http://naver.com/?page=1

In [2]:
# enumerate 를 사용하여 index와 element를 같이 가져올 수 있음 
l = ["월", "화", "수", "목", "금", "토", "일"]
for i in enumerate(l):
    print(i)

(0, '월')
(1, '화')
(2, '수')
(3, '목')
(4, '금')
(5, '토')
(6, '일')

In [3]:
for idx, element in enumerate(l):
    print(idx, element)

0 월
1 화
2 수
3 목
4 금
5 토
6 일

## 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#defining-functions

In [11]:
# 전화번호 국번을 반환하는 함수
num = "02-321-1234"

In [14]:
def parse_phone(num):
    print(num.split('-')[0])

parse_phone(num)

02

In [32]:
# 문자열 전처리로 월을 반환하는 함수
date = "2022년 10월 09일"

In [33]:
def find_month(date):
    return int(date.split()[1][:-1])
    
find_month(date)

10

## 함수의 Docstring

In [102]:
# 함수? : docstring 출력
# 함수?? : source에 관한 정보

# range와 sum의 docstring 출력
range?
sum??

## 실습
* http://data.seoul.go.kr/dataList/OA-15248/F/1/datasetView.do
* 월별 대여현황에서 연령대는 코드로 제공, 해당 코드를 값과 매핑하기 위해 딕셔너리 형태로 가공

In [88]:
age_code = """
10대 : AGE_001
20대 : AGE_002
30대 : AGE_003
40대 : AGE_004
50대 : AGE_005
60대 : AGE_006
70대 : AGE_007
기타 : AGE_008
( 비회원, 외국인, 그 이상 등 )"""

age_code = age_code.split('\n')

age_code

['',
 '10대 : AGE_001',
 '20대 : AGE_002',
 '30대 : AGE_003',
 '40대 : AGE_004',
 '50대 : AGE_005',
 '60대 : AGE_006',
 '70대 : AGE_007',
 '기타 : AGE_008',
 '( 비회원, 외국인, 그 이상 등 )']

In [89]:
age_dict = {}

for idx in range(1, 9):
    code = age_code[idx]
    value, key = code.split(" : ")
    age_dict[key] = value

age_dict

{'AGE_001': '10대',
 'AGE_002': '20대',
 'AGE_003': '30대',
 'AGE_004': '40대',
 'AGE_005': '50대',
 'AGE_006': '60대',
 'AGE_007': '70대',
 'AGE_008': '기타'}

## 실습 2
* 딕셔너리의 결과가 아래와 같이 나오도록 아래의 문자열을 변경해 보세요.
```
{'경기': '031',
'강원': '033',
'충남': '041',
'충북': '043',
'경북': '054',
'경남': '055',
'전남': '061',
'전북': '063'}
```

In [96]:
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"

# phone = ['', '경기 031 ', '강원 033 ', '충남 041 ', '충북 043 ', '경북 054 ', '경남 055 ', '전남 061 ', '전북 063']
phone = phone.split(">")

In [97]:
# phone = ['경기 031 ', '강원 033 ', '충남 041 ', '충북 043 ', '경북 054 ', '경남 055 ', '전남 061 ', '전북 063']
phone = phone[1:]

region_num = {}
for element in phone:
    region, num = element.split()
    region_num[region] = num
    
print(region_num)

{'경기': '031', '강원': '033', '충남': '041', '충북': '043', '경북': '054', '경남': '055', '전남': '061', '전북': '063'}

## 여러 출력 방법
* 내부 구현 방식의 차이
* 마지막 줄을 실행하는 것은 ipynb의 기능
* 다른 환경에서는 반드시 print 함수를 사용해야 함

In [98]:
py = "Python\n Class"

In [99]:
py

'Python\n Class'

In [100]:
print(py)

Python
 Class

In [101]:
repr(py)

"'Python\\n Class'"