<img src="https://pandas.pydata.org/docs/_static/pandas.svg" width="300">

In [37]:
# import 라이브러리
import pandas as pd
import numpy as np

## DataFrame

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg">

In [38]:
# 빈 df 생성
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [39]:
# column 추가
df["약품명"] = ["소화제", "감기약", "비타민", "digestive", "Omega3", "오메가3", "vitamin", "Vitamin"]
df

         약품명
0        소화제
1        감기약
2        비타민
3  digestive
4     Omega3
5       오메가3
6    vitamin
7    Vitamin

In [40]:
# 가격 col 추가
# 하나의 값을 입력하면 일괄적으로 모든 행에 입력 
# broadcasting
df["가격"] = 3500
df

         약품명    가격
0        소화제  3500
1        감기약  3500
2        비타민  3500
3  digestive  3500
4     Omega3  3500
5       오메가3  3500
6    vitamin  3500
7    Vitamin  3500

In [41]:
# 가격 col만 출력
# Seies, 벡터, 1차원
df["가격"]

0    3500
1    3500
2    3500
3    3500
4    3500
5    3500
6    3500
7    3500
Name: 가격, dtype: int64

In [42]:
# type of data
type(df)

pandas.core.frame.DataFrame

In [43]:
# type of data
type(df['가격'])

pandas.core.series.Series

In [44]:
# Series를 list로 변환 #1
df["가격"].tolist()

[3500, 3500, 3500, 3500, 3500, 3500, 3500, 3500]

In [45]:
# Series를 list로 변환 #2
list(df["가격"])

[3500, 3500, 3500, 3500, 3500, 3500, 3500, 3500]

In [47]:
# 시간을 측정하는 방법 %timeit
%timeit df["가격"].tolist()

1.23 µs ± 5.41 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [48]:
%timeit list(df["가격"])

2.43 µs ± 7.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## Column Update

In [50]:
df["가격"] = [3500, 3200, 4000, 3200, 3700, np.nan, 2000, 1000]
df

         약품명      가격
0        소화제  3500.0
1        감기약  3200.0
2        비타민  4000.0
3  digestive  3200.0
4     Omega3  3700.0
5       오메가3     NaN
6    vitamin  2000.0
7    Vitamin  1000.0

### NaN == 결측치, Not a Number
### Type of NaN is "float"
### 한 column에는 다 같은 type이어야 함

In [66]:
# "지역" col 추가
df["지역"] = "서울"
df

         약품명      가격  지역
0        소화제  3500.0  서울
1        감기약  3200.0  서울
2        비타민  4000.0  서울
3  digestive  3200.0  서울
4     Omega3  3700.0  서울
5       오메가3     NaN  서울
6    vitamin  2000.0  서울
7    Vitamin  1000.0  서울

In [76]:
# "종류" col 추가, 일반의약품 입력
df['종류'] = "일반의약품"
df["종류2"] = "전문의약품"
df

         약품명      가격  지역     종류    종류2
0        소화제  3500.0  서울  일반의약품  전문의약품
1        감기약  3200.0  서울  일반의약품  전문의약품
2        비타민  4000.0  서울  일반의약품  전문의약품
3  digestive  3200.0  서울  일반의약품  전문의약품
4     Omega3  3700.0  서울  일반의약품  전문의약품
5       오메가3     NaN  서울  일반의약품  전문의약품
6    vitamin  2000.0  서울  일반의약품  전문의약품
7    Vitamin  1000.0  서울  일반의약품  전문의약품

## Column Delete

In [69]:
# axis : 0은 row를 의미, 1은 col을 의미
df.drop("종류2", axis = 1)

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

In [70]:
# 하지만 df에는 삭제되지 않은 모습
df

         약품명      가격  지역     종류    종류2
0        소화제  3500.0  서울  일반의약품  전문의약품
1        감기약  3200.0  서울  일반의약품  전문의약품
2        비타민  4000.0  서울  일반의약품  전문의약품
3  digestive  3200.0  서울  일반의약품  전문의약품
4     Omega3  3700.0  서울  일반의약품  전문의약품
5       오메가3     NaN  서울  일반의약품  전문의약품
6    vitamin  2000.0  서울  일반의약품  전문의약품
7    Vitamin  1000.0  서울  일반의약품  전문의약품

In [77]:
# df에도 적용하고 싶다면 변수에 재할당 
df = df.drop("종류2", axis = 1)
# or inplace = True
df.drop("종류2", axis = 1, inplace = True)
df
# inplace = True 는 권장하지 않음
# 현재 Python 개발자 사이에서 inplace 기능을 없애자는 논의 중
# Method Chaining의 경우 inplace가 동작하지 않는 경우가 있기 때문, 변수 할당하는 것은 문제 없음

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

## 데이터 요약

In [84]:
# info of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   약품명     8 non-null      object
 1   가격      7 non-null      float64
 2   지역      8 non-null      object
 3   종류      8 non-null      object
dtypes: float64(1), object(3)
memory usage: 384.0+ bytes

In [85]:
# size of df
# attribute로 구현된 것은 "()"를 필요로 하지 않음
# method로 구현된 것이 끝에 "()" 필요
# (row, col)
df.shape

(8, 4)

In [86]:
# type of data
df.dtypes

약품명     object
가격     float64
지역      object
종류      object
dtype: object

In [89]:
# df의 요약정보
# 수치형 데이터의 기술통계 
# NaN 값을 제외하고 계산
# ex) 빈도 수, 평균, 표준편차, 최솟값, 사분위수, 최댓값
df.describe()

                가격
count     7.000000
mean   2942.857143
std    1064.357620
min    1000.000000
25%    2600.000000
50%    3200.000000
75%    3600.000000
max    4000.000000

In [90]:
# 범주형 데이터의 기술통계
df.describe(include='object')

        약품명  지역     종류
count     8   8      8
unique    8   1      1
top     소화제  서울  일반의약품
freq      1   8      8